name: Run npm pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-14.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install --registry=https://registry.npmmirror.com --lockfile

      - name: Run pages script
        run: npm run pages
