name: Run npm pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Update npm
        run: npm install -g npm@latest
      
      - name: Git set
        run: git config --global user.email "react-19@qq.com" && git config --global user.name "react-19"

      - name: Clean install
        run: |
          rm -rf node_modules package-lock.json
          npm install --registry=https://registry.npmmirror.com

      - name: Run pages script
        run: npm run pages
