name: Run npm pages

permissions:
  contents: write
  pages: write


on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Update npm
        run: npm install -g npm@latest

      - name: delate package-lock.json
        run: rm package-lock.json

      - name: Clean install
        run: |
          npm install --registry=https://registry.npmmirror.com

      - name: Run pages build
        run: | 
          npm run build
          cp dist/index.html dist/404.html
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
